body {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 300px;
}

.calci {
  grid-column: 1 / -1;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#output {
  grid-column: 1 / 5;
  height: 30px;
  border: 0.3px solid black;
  border-radius: 4px;
}
