.Red {
  color:red;
  width: 50px;
}
.Yellow {
  color: Yellow;
  width: 50px;
}

.Blue {
  color: cyan;
  width: 50px;
}

.Orange {
  color: Orange;
  width: 50px;
}

.Green {
  color: lightgreen;
  width: 50px;
}
